<template>
  <v-container>
    <v-layout align-center justify-center class="mt-6">
      <v-flex xs12 sm12 md12 lg12>
        <v-row>
          <v-col cols="9">
            <v-row>
              <v-col cols="12">
                <v-skeleton-loader
                  v-if="!pokemon"
                  v-bind="attrs"
                  type="card-heading, list-item-avatar-three-line, actions"
                ></v-skeleton-loader>

                <v-card class="mx-auto" outlined v-else>
                  <v-list-item three-line>
                    <v-img
                      v-if="
                        pokemon.sprites.other['official-artwork'].front_default
                      "
                      :src="
                        pokemon.sprites.other['official-artwork'].front_default
                      "
                      max-height="250px"
                      max-width="250px"
                    />
                    <v-list-item-avatar
                      v-else
                      tile
                      size="200"
                      color="grey"
                    ></v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title class="text-h5 mb-1">
                        {{ toCatitalCase(pokemon.name) }}
                      </v-list-item-title>

                      <v-list-item-subtitle
                        >Tipos:
                        <v-chip
                          small
                          v-for="(tipo, i) in pokemon.types"
                          :key="i"
                          :color="getColor(tipo.type.name)"
                          text-color="white"
                        >
                          {{ tipo.type.name }}</v-chip
                        >
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-card-actions>
                    <v-btn
                      rounded
                      :to="{ name: 'Detail', params: { name: pokemon.name } }"
                      right
                      absolute
                      bottom
                      color="primary"
                    >
                      Seleccionar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="3"
            ><v-row>
              <v-col cols="12"> <SelectedPokemon /></v-col
            ></v-row>
          </v-col>
        </v-row>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { capitalCase } from "capital-case";
import { getPokemonById } from "@/store/pokemonService";
import SelectedPokemon from "@/components/Selected.vue";
export default {
  components: {
    SelectedPokemon,
  },
  async created() {
    await this.init();
  },
  data: () => ({
    attrs: {
      class: "mx-auto",
      outlined: true,
    },
    pokemon: null,
  }),
  methods: {
    async init() {
      this.pokemon = await getPokemonById(this.$route.params.name);
    },
toCatitalCase(str) {
      return capitalCase(str);
    },
    getColor(type) {
      switch (type) {
        case "fire":
          return "red";

        case "water":
          return "blue";
        case "ground":
          return "brown";
        case "dark":
          return "grey darken-4";
        case "electric":
          return "amber lighten-1";
        case "ghost":
          return "blue-grey lighten-1";
        default:
          return "default";
          break;
      }
    },
  },
};
</script>