<template>
  <v-container>
    <v-row>
      <v-layout align-center justify-center class="mt-6">
        <v-flex xs12 sm8 md4>
          <v-select
            outlined
            :items="types"
            label="Filtrar por Tipo"
            @change="filter"
            v-model="filterType"
          />
        </v-flex>
      </v-layout>
    </v-row>
    <v-row>
      <v-col cols="9">
        <v-row v-if="pokemons.length < 3">
          <v-col cols="4" v-for="item in 3" :key="item">
            <v-skeleton-loader
              v-bind="attrs"
              type="card-heading, list-item-avatar-three-line, actions"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="4"
            sm="12"
            md="6"
            lg="6"
            xl="4"
            v-for="(pokemon, index) in pokemons"
            :key="index"
          >
            <v-card class="mx-auto" outlined>
              <v-list-item three-line>
                <v-img
                  v-if="pokemon.sprites.other['official-artwork'].front_default"
                  :src="pokemon.sprites.other['official-artwork'].front_default"
                  max-height="150px"
                  max-width="150px"
                />
                <v-list-item-avatar
                  v-else
                  tile
                  size="150"
                  color="grey"
                ></v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="text-h5 mb-1">
                    {{ toCatitalCase(pokemon.name) }}
                  </v-list-item-title>

                  <v-list-item-subtitle
                    >Tipos:
                    <v-chip
                      small
                      v-for="(tipo, i) in pokemon.types"
                      :key="i"
                      :color="getColor(tipo.type.name)"
                      text-color="white"
                    >
                      {{ tipo.type.name }}</v-chip
                    >
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-card-actions class="mt-12">
                <v-btn
                  rounded
                  :to="{ name: 'Detail', params: { name: pokemon.name } }"
                  color="secondary"
                >
                  Ver
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn rounded color="primary" @click="seleccionar(pokemon)">
                  Seleccionar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="3"
        ><v-row>
          <v-col cols="12"> <SelectedPokemon @refresh="refresh" /> </v-col
        ></v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { getTypes, getAllPokemon, getByType } from "@/store/pokemonService";
import SelectedPokemon from "@/components/Selected.vue";
import { capitalCase } from "capital-case";
export default {
  components: {
    SelectedPokemon,
  },
  created() {
    this.init();
  },
  data: () => ({
    attrs: {
      class: "mx-auto",
      outlined: true,
    },
    types: [
      {
        text: "todos",
        value: null,
      },
    ],
    filterType: null,
    pokemons: [],
  }),
  methods: {
    async init() {
      var dataTypes = await getTypes();
      this.types = this.types.concat(dataTypes);
      this.pokemons = await getAllPokemon();
    },
    async filter() {
      if (this.filterType) {
        this.pokemons = await getByType(this.filterType);
      } else {
        this.pokemons = await getAllPokemon();
      }
    },
    refresh() {
      this.filterType = null;
      this.filter();
    },
    toCatitalCase(str) {
      return capitalCase(str);
    },
    seleccionar(item) {
      var store = localStorage.getItem("store");
      var storeList = JSON.parse(store);

      if (storeList) storeList.push(item);
      else {
        storeList = [];
        storeList.push(item);
      }
      localStorage.setItem("store", JSON.stringify(storeList));
    },
    getColor(type) {
      switch (type) {
        case "fire":
          return "red";

        case "water":
          return "blue";
        case "ground":
          return "brown";
        case "dark":
          return "grey darken-4";
          case "electric":
          return "amber lighten-1";
          case"ghost":
          return "blue-grey lighten-1"
        default:
          return "default";
          break;
      }
    },
  },
};
</script>