<template>
  <v-app id="inspire">
    <v-main>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-card-title dark color="primary">
                <v-img src="/logo.png" max-height="125" contain />
              </v-card-title>

              <v-card-text>
                <v-text-field
                  label="Correo"
                  v-model="email"
                  required
                  :error-messages="emailErrors"
                  @input="$v.email.$touch()"
                  @blur="$v.email.$touch()"
                ></v-text-field>

                <v-text-field
                  label="Contraseña"
                  v-model="password.new"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                  required
                  :error-messages="NewPasswordErrors"
                  @input="$v.password.new.$touch()"
                  @blur="$v.password.new.$touch()"
                ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <router-link :to="{ name: 'Register' }" tag="button"
                  >Registrarse</router-link
                >
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="clear">Limpiar</v-btn>
                <v-btn color="primary" @click="submit">Entrar</v-btn>
              </v-card-actions>
            </v-card>
            <v-snackbar v-model="snackbar" timeout="2000" color="blue-accent">
              {{ text }}
            </v-snackbar>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
import { signIn } from "@/services/auth.js";
export default {
  mixins: [validationMixin],
  data: () => ({
    email: "",
    password: {
      new: "",
    },
    show1: false,
    show2: false,
    snackbar: false,
    text: "",
  }),

  validations: {
    email: { required, email },
    password: {
      new: { required, minLength: minLength(8) },
    },
  },

  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Ingresa un correo valido");
      !this.$v.email.required && errors.push("El correo es requerido");
      return errors;
    },
    NewPasswordErrors() {
      const errors = [];
      if (!this.$v.password.new.$dirty) return errors;
      !this.$v.password.new.minLength &&
        errors.push("Ingresa al menos 8 caracteres");
      !this.$v.password.new.required && errors.push("Contraseña requerida");
      return errors;
    },
  },

  methods: {
    setAlert(msg) {
      this.text = msg;
      this.snackbar = true;
    },
    async submit() {
      this.$v.$touch();
      if (this.$v.$error) {
        this.setAlert("Completa todos los campos");
        return;
      } else {
        try {
          await signIn(this.email, this.password.new);
          this.$router.push({ name: "Home" });
        } catch (error) {
          this.setAlert("Usuario incorrecto");
        }
      }
    },
    clear() {
      this.$v.$reset();
      this.email = "";
      this.password = {
        new: "",
        repit: "",
      };
    },
  },
};
</script>
<style scoped>
*,
body {
  color: white;
}
.v-main {
  /* background: rgb(21, 25, 42); */
}

.elevation-12 {
  background: rgba(52, 102, 175, 0.5);
  background: linear-gradient(
    90deg,
    rgba(52, 102, 175, 0.5) 20%,
    rgba(255, 203, 5, 0.5) 40%,
    rgba(216, 43, 46, 0.5) 60%
  );
}
</style>