<template>
  <v-card
    ><v-card-title>Seleccionados</v-card-title>

    <v-card-text>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Nombre</th>
              <th class="text-left">Tipo</th>
              <th class="text-left"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in pokemons" :key="item.name">
              <td>{{ item.name }}</td>
              <td>{{ item.types[0].type.name }}</td>
              <td><v-btn icon>mdi-trash</v-btn>></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card-text>
    <v-card-actions>
      <v-btn rounded color="secondary">Quitar todos</v-btn>
      <v-spacer></v-spacer>
      <v-btn v-if="home" rounded color="primary" @click="refresh"
        >Recargar listado</v-btn
      >
      <v-btn v-else rounded color="primary" @click="back"
        >Volver al listado</v-btn
      >
    </v-card-actions></v-card
  >
</template>
<script>
export default {
  props: {
    home: Boolean,
  },
  data: () => ({
      pokemons:[]
  }),
  methods: {
    refresh() {
      this.$emit("refresh");
    },
    back() {
      this.$router.push({ name: "Home" });
    },
  },
  
};
</script>