<template>
  <v-app>
    <home-tool-bar />

    <home-view />

  </v-app>
</template>

<script>
  export default {
    name: 'HomeLayout',

    components: {
      HomeToolBar: () => import('@/layouts/ToolBar'),
      HomeView: () => import('@/layouts/View'),
    },
  }
</script>
