<template>
  <div>
    <v-app-bar
      id="home-tool-bar"
      app
      elevation="1"
      elevate-on-scroll
      height="80"
      dark
    >
      <v-toolbar-title>Bienvenido {{ name }}</v-toolbar-title>

      <v-img src="/logo.png" max-height="70" contain />

      <div>
        <v-btn text @click="$router.push({ name: 'Home' })"> Home </v-btn>
        <v-btn text @click="$router.push({ name: 'Home' })"> Habilidades </v-btn>
        <v-btn icon @click="logout">
          <v-icon>mdi-logout</v-icon>
        </v-btn>

        <v-app-bar-nav-icon
          class="d-md-none d-lg-none d-xl-none d-sm-flex"
          @click="drawer = !drawer"
        />
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: "HomeToolBar",
  created() {
    this.name = sessionStorage.getItem("name");
  },
  data: () => ({
    drawer: false,
    name: "",
  }),
  methods: {
    logout() {
      sessionStorage.clear();
      this.$router.push({ name: "Login" });
    },
  },
};
</script>

<style lang="sass">
#home-tool-bar
  .v-tabs-slider
    max-width: 24px
    margin: 0 auto

    .v-tab
      &::before
        display: none
</style>
